.git
.github
.gitignore
.venv
venv
env
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
tests
requirements-dev.txt
pyproject.toml
README.md
docs
.idea
.vscode
.DS_Store
*.log
